
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

:root{
 --index-color:#bdb8c9;                                          
  --color-primario:#fbfbf9;
  --titulo-logo:40px;
  --titulo-logo-m:50px;
  --li-guia-blamco: 1px solid white;
  --font-size: 16px;
  --main-color: #8b75a8 !important;
  --second-color: #222;
  --main-modal-color:#8b75a8;
  --second-modal-color:rgba(34,34,34,0.85);
  --container-width:1200px;
}
/* reseteando valores  */
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bona Nova", serif;

}
.bona-nova-regular {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-bold {
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-regular-italic {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: italic;
}
/* estilos base  */
body{
    /* background-color: var(--index-color);     */
    background: -webkit-linear-gradient(191deg, #191a1a,#271032,#130a24);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(191deg, #191a1a,#271032,#130a24);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                                                                                                               
}
.menuEscritoio{
  position: sticky;
  top: 0;  
  background-color: rgba(123, 108, 123, 0.11) !important;  
  z-index: 3;
}

.sectionperso{
  padding: 2rem;
  padding-top: 3.6rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align: center;
  
}
.panelperso{
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: var(--second-modal-color);
  transition: transform 0.3s ease;
  transform: translate(0, -100%);
}

.panelperso.is-active{
  transform: translate(0,0);
}
.panel-btnPerso{
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.menuPerso{
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menuPerso a{
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: whitesmoke ;
  transition: all 0.3s ease;
}

.menuPerso a:hover{
  font-weight: bold;
  color: var(--second-color);
  background-color: var(--main-modal-color);
}
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
  background-color: white !important;
}
.hamburger{
  background-color: rgb(123, 108, 123) !important;
}
.hamburger-inner{
  margin-top: 3px !important;
  margin-left: -2.5px;
}
.col-12> .form-floating > .form-control, .form-floating > .form-select{
  height: calc(3.5rem + 140px);
}
.botonEnviar{
  width: 100%;
  position: relative;
  padding: 20px 50px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 5px;
  text-indent: 10px;
  z-index: 2;
}

.botonGluGlu{
  /* border: 3px solid #17a2ff; */
  border: none;  
  overflow: hidden;
}

.botonGluGlu::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(7, 7, 7);
  z-index: -2;
}

.botonGluGlu::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  left: 0;
  bottom: -150%;
  border-radius: 30%;
  /* background-color: #151E3F; */
  background-color: #130a24;  
  z-index: -1;
}

.botonGluGlu:hover::before{
  animation: botonGluGlu 0.9s ease-out both;
}


@keyframes botonGluGlu {
  0%{
      transform: rotate(0deg);
  }
  100%{
      bottom: 100px;
      transform: rotate(360deg);
      
  }
}

.btn-checkPerso:active + .btn-outline-primaryPerso, .btn-check:checked + .btn-outline-primaryPerso, .btn-outline-primaryPerso.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primaryPerso:active{
  background-color: transparent;  
  border-bottom: 1px solid #ffff !important;
}
.esconder{
  display: block;
}

@media screen and (max-width:576px) {
  .fondo{
  background-image: url("../img/main/NagualMaya.png");
  background-size: 97%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  }
}
@media screen and (min-width:768px) {
   
  .botonGluGlu::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 450px;
    left: 0;
    bottom: -150%;
    border-radius: 23%;
    /* background-color: #151E3F; */
    background-color: #130a24;    
    z-index: -1;
  }
}

@media screen and (min-width:992px) {
  .esconder{
    display: none !important;
  }  
  .botonEnviar{
    width: 50%;
  }
  .botonGluGlu::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 550px;
    left: 0;
    bottom: -150%;
    border-radius: 20%;
    /* background-color: #151E3F; */
    background-color: #130a24;    
    z-index: -1;
  }
}
@media screen and (min-width:1200px) {
  .botonGluGlu::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 700px;
    left: 0;
    bottom: -150%;
    border-radius: 15%;
    /* background-color: #151E3F; */
    background-color: #130a24;    
    z-index: -1;
  }
}
@media screen and (min-width:1400px) {

  .botonGluGlu::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 800px;
    left: 0;
    bottom: -150%;
    border-radius: 5%;
    /* background-color: #151E3F; */
    background-color: #130a24;    
    z-index: -1;
  }
}
